---
layout: default
title: About Cara Harvey
---

<article class="postWrapper">
  <section class="section--first section--about is-darkBackgrounded u-table">
    <div class="section-backgroundImage">
        <img class="post-featuredImage" src="/assets/images/hero/tulips.jpg" alt="tulips">
    </div>
    <div class="section-gradient"></div>
    <div class="section-title is-darkBackgrounded u-tableCell u-verticalAlignMiddle">
      <div class="container about-title-container">
        <h2>Cara Harvey, MS, CCC-SLP</h2>
        <div class="postMeta-wrapper">
          <ul class="postMeta">
            <li class="postMeta-author">
              Speech-Language Pathologist
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section--last">
    <div class="container container--content about-container">
      <div class="content-body about-content-body">
        <h4>About</h4>
        <p>Dear Parents,</p>
        <p>My name is Cara, and I have been a speech-language pathologist for the past twenty-five years. The idea of Peanut Butter Panda has evolved from my work with children of all ages. It is my dream for your children to fall in love with Peanut Butter Panda and his friends. I hope these characters will be able to help teach your children the value of family and how to be a good friend. As a little bonus, Peanut Butter and his friends will teach your children to explore the beautiful continent of North America throughout each adventure. 💗</p>
        <p>Love,<br>Cara</p>
      </div>
    </div>
  </section>
</article>
<hr/>
{% include subscribe.html %}
{% include footer.html %}
